@use './styles/variables' as *;
@use './styles/typography';
@use './styles/buttons';
@use './styles/cards';
@use './styles/layout';
@use './styles/responsive';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}